BODY  { 
	background:  black; 
	color: white 
}

table {
    border-collapse: collapse;
}

#headlinestable {
	color: black;
	background: pink;
	font-size: small;
    border: 5px solid black;
}

#scorestable {
	color: black;
	background: #80ffff;
	font-size: small;
    border: 5px solid black;
}
.scorestablegame {
    border: 2px solid black;
	/*color: maroon;*/
}
	
.scorestablegametd {
    border-top: 1px solid black;
}

.headlinestabletr {
	border: 2px solid black;
	background-color:#80ffff;
}

.headlinestabletd {
	border-top: 1px solid fuchsia;
	
}

.datemovearrow { cursor:pointer; }

.scorestablegame { cursor:pointer; }  

#headlinestable {cursor:pointer;}

#toplinescore  {border: 0px solid aqua;}

.fullboxscoretd {border: 1px solid magenta;}